
body {
    background-color: gainsboro;
    margin: 0;
    height: 100%;
}
.container {
    max-width: 800px;
    margin: auto;
    width: 100%;
    padding: 40px;
}
md-whiteframe.md-whiteframe-3dp.form.layout-align-center-center.layout-row {
    width: 47%;
    display: inline-block;
    padding: 20px;
    background: whitesmoke;
    vertical-align: top;
}
.title {
    font-size: 27px;
    font-weight: bold;
    padding: 20px 0;
    color: #931f80;
}
label {
    display: block;
}
input#task {
    width: 330px;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    border: 0;
    background: rgba(137, 61, 142,.1);
    border-radius: 4px;
}
button.md-raised.md-primary.md-button.md-ink-ripple {
    margin: 10px 0;
    font-weight: bold;
    text-transform: none;
    color: #fff;
    background: #931f80;
}
.md-button.md-primary.md-raised:not([disabled]):hover{
	background-color: rgb(110, 74, 112);
}
md-whiteframe.md-whiteframe-3dp.list.layout-align-center-center.layout-row {
    width: 49%;
    display: inline-block;
    margin-left: 20px;
    max-height: 500px;
    overflow-y: scroll;
    height: 100%;
    padding: 20px;
    vertical-align: top;
    background: whitesmoke;
}
i.fa.fa-file-text.editbtn {
    font-size: 20px;
    border: 1px solid #931f80;
    padding: 7px;
    border-radius: 23px;
    color: #931f80;
    margin-right: 15px;
}
i.fa.fa-pencil-square-o {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #931f80;
}
i.fa.fa-trash{
	font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #931f80;
}
md-list-item.md-3-line .md-list-item-text, .fonticon {
    margin: 10px 0;
}
md-list-item.md-3-line, md-list-item.md-3-line:before, md-list-item.md-3-line>.md-no-style:before{
	min-height: 30px;
	margin: 15px 0px;
}